name: QMI Python CI full test runner

# on:
#   schedule:
#     # Schedule for every Monday at 7am
#     - cron: "0 7 * * 1"
on:
  pull_request:
    branches: [ "main" ]
    paths-ignore:
        - README.md
        - CHANGELOG.md
        - .gitignore
        - ACKNOWLEDGEMENTS.md
        - LICENSE.md
        - CONTRIBUTING.md
        - TESTING.md

env:
  # minimum pylint code quality score (max. 10)
  PYLINT_MIN_SCORE: "9.00"
  # minimum code coverage (goal: 90%; max. 100%)
  COVERAGE_MIN_PERC: "90"
  # maximum code complexity (goal: <= 30; unbounded)
  COMPLEXITY_MAX_SCORE: "30"
  # this should be a comma separated list
  SOURCE_DIRS: "qmi/"

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python-latest
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update -qy
          sudo apt-get install -y bc
          python3 --version
          pip install --upgrade pip
          pip install -e '.[dev]'
          pip install anybadge
      - name: pylint
        if: always()
        run: |
          pip install pylint
          - pip install pylint
          pylint --score=yes --load-plugins=pylint.extensions.mccabe --max-complexity=$COMPLEXITY_MAX_SCORE $SOURCE_DIRS | tee pylint.log
          SCORE=$( tail -n 2 pylint.log | grep -o '[0-9]\{1,2\}\.[0-9]\{2\}' | head -n 1 )
          echo "Pylint score: $SCORE"
          exit $( echo "$SCORE < $PYLINT_MIN_SCORE" | bc )
      - name: upload pylint test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: pylint-results
          path: pylint.log
      - name: mypy
        if: always()
        run: |
          pip install mypy
          mypy --namespace-packages $SOURCE_DIRS | tee mypy.log
          if [ -n "$( tail -n 1 mypy.log | grep -e '^Succes' )" ]; then RESULT="passed"; else RESULT="failed"; fi
          echo "Mypy result: $RESULT"
          if [[ "$RESULT" = *"pass"* ]]; then exit 0; else exit 1; fi
      - name: upload mypy test results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: mypy-results
          path: mypy.log
      - name: coverage
        if: always()
        run: |
          pip install coverage
          coverage run --branch --source=$SOURCE_DIRS -m unittest discover --start-directory=tests --pattern="test_*.py"
          coverage report --show-missing --fail-under=$COVERAGE_MIN_PERC | tee coverage.log
          COVERAGE_PERC=$(grep "TOTAL" coverage.log | grep -Eo '[0-9.]+%' | sed 's/%//')
          echo "Coverage: $COVERAGE_PERC%"
          exit $( echo "$COVERAGE_PERC < $COVERAGE_MIN_PERC" | bc )
      - name: upload coverage results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: coverage-results
          path: coverage.log
      - name: unit-tests latest
        if: always()
        run: |
          pip install unittest-xml-reporting
          python -m xmlrunner --output-file testresults.xml discover --start-directory=tests --pattern="test_*.py"
      - name: upload unit-tests results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: unit-test-results
          path: testresults.xml
